/* tags */
h5{
	font-family: sans-serif;
}

.invisible{
	visibility: hidden;
}
/* home */
#home-dog{
	width: 250px;
	height: 250px;
	object-fit: contain;
	position: absolute;
	bottom: 300px;
	left: 50px;
}
.home-center{
	position: relative;
	height: 815px;
	width: 100%;
	background-size: 100% 100%;
	background-image: url("../assets/homepage/BackgroundOutline.jpg");
}
.home-toolbars{
	position: absolute;
	bottom: 0px;
	height: 110px;
	width: 100%;
}
.home-toolbar-details{
	position: absolute;
	bottom: 110px;
	height: 110px;
	width: 100%;
}
.home-toolbar-details > img{
	width: 110px;
	height: 110px;
	object-fit: contain;
}
.home-toolbars-button{
	display:inline-block;
}
.home-toolbars-button > img{
	width: 110px;
	height: 110px;
	object-fit: contain;
}

#level-select-image {
    width: 110px;
    height: 110px;
    object-fit: contain; 
}
/* level */
.level{
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
.level-map{
	width: 250px;
	height: 250px;
	object-fit: contain;
}
.level-stars{
	width: 20px;
	height: 20px;
	object-fit: contain;
	float: right;
}
.level-name{
	display:inline;
}
.level-left{
	margin-left: 30px;
	margin-right: 30px;
	display:inline-block;
	width: 200px;
}
.level-right{
	display:inline-block;
}
.level-buttons{
	text-align: center;
}
.level-buttons > button{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}